/* css written by B McConnell on 25-11-2010. Stylesheet inspired almost entirely by the look of http://thesecondpass.com/ - great looking website. */

/* Generic Selectors */

body {
	background: #FFF;
	/*text-align: center;*/
	color: #000;
	font-family: Avenir, Frutiger, Helvetica, "Helvetica Neue", Arial, Sans-Serif;
	}

html	{
	height: 100%;
	margin-bottom: 0.01em;
	}

h1,h2,h3,h4,h5,h6{
	margin-bottom: -5px;
	color: #000;
	font-family: Avenir, Frutiger, Helvetica, "Helvetica Neue", Arial, Sans-Serif;
 	text-transform:uppercase;
	font-weight:lighter;
	}
p{
	color: #000;
	font-family: Avenir, Frutiger, Helvetica, "Helvetica Neue", Arial, Sans-Serif;
	text-transform:lowercase;
	font-weight:lighter;
	}

.titleBlock{
	background: #000;
	color: 	#FFFF00;
	/*font-weight:lighter
	border-bottom: 1px solid yellow;*/
	}

.navBlock{
	background: #FFF;
	color: 	#999;
	text-align:center;
	word-spacing:100px;
	}
.title{
	text-align: center;
	font-weight:lighter
	}

img.resImage {
	border:0px solid #000;
    float: right;
    margin: 0 10px 0px 10px;
	width: 400px;
	height: 250px;		  /* height=.7275*width */
	}

.mcc{
	text-align: center;
	font-size: small;
	}
.center{
	text-align:center;
	}

.light{
	font-weight:lighter;
}

/************************* ID's *************************/

#rapper {
	background-color: #FFF;
	padding: 0px 0px 0px 0px;
	width: 760px;
	margin: 0 auto;
	text-align: left;
	}

#titleBar {
/*height: 80px;*/
margin: 0;
padding: 0 0 0 0px; /*top right bottom left*/
font-weight: normal;
background-color: #FFF;
}

/* make sure left+right+margins=rapper.width
             500 + 240 +(10+10)=760

*/
#left	{
	float:left;
	width:600px;
	margin-right: 10px;
	background:#FFF;
	}

#right	{
	float:right;
	width:140px;
	margin-left: 10px;
	background:#FFF;

	}

#footer {
	clear:both;
	background:#FFF;
	}


/**************** Pseudo classes ****************/
a {
color: #006699;
text-decoration: none;
}

li {
color: #000;
text-decoration: none;
font-weight: none;
}

a:link {
color: #006699;
text-decoration: none;
font-weight: none;
}

li :link {
color: #006699;
text-decoration: none;
font-weight: none;
}

a:visited {
color: #006699;
text-decoration: none;
font-weight: none;
}

li a:visited {
color: #006699;
}

a:hover {
color: 3399CC;
}

li a:hover {
color: 3399CC;
}

a:active {
color: #006699;
font-weight: none;
}

/* now for those in navbar*/

a.nav:link {
	color:#999;
	}      /* unvisited link */
a.nav:visited {
	color:#999;
	}  /* visited link */

a.nav:hover {
	color:#000;
	}  /* mouse over link */

a.nav:active {
	color:#000;
	}  /* selected link */


/* now for those in navbar*/

a.ti:link {
	color:#000;
	}      /* unvisited link */
a.ti:visited {
	color:#000;
	}  /* visited link */

a.ti:hover {
	color:#000;
	}  /* mouse over link */

a.ti:active {
	color:#000;
	}  /* selected link */


/* now for those in title-blocks*/

a.tb:link {
	color:#FFFF00;
	}      /* unvisited link */
a.tb:visited {
	color:#FFFF00;
	}  /* visited link */

a.tb:hover {
	color:#FFFF00;
	}  /* mouse over link */

a.tb:active {
	color:#FFFF00;
	}  /* selected link */
